@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title {
        font-size: 8rem;
        font-family: 'Tangerine', cursive;
        color: #1e1e1e;
    }
    
    .subheading {
        font-family: 'Alice', serif;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #5a5a5a;
    }

    .navigation {
        font-family: 'Alice', serif;
        width: 100%;
        position: absolute;
        top: 0;
        padding: 100px;
        font-weight: bold;
        font-size: 1.3rem;
        margin-right: 0;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-around;

            li a {
                color: #5a5a5a;
                text-decoration: none;
                transition: 500ms;

                &:hover {
                    color: #a5a4a4;
                }
            }
        }
    }

    .wedding-details {
        max-width: 80%;
        font-family: 'Alice', serif;

        .message {
            font-size: 2.8rem;
            text-align: center;
        }

        .wedding-date {
            font-family: 'Great Vibes', cursive;
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div:nth-child(1) {
                font-size: 3.8rem;
            }

            div:nth-child(2) {
                font-size: 3rem;
            }
        }

        .zoom {
            background: #575757;
            color: #ffffff;
            padding: 20px 40px;
            border-radius: 10px;
            font-size: 2.9rem;
            margin-bottom: 50px;
        }

        .monetary {
            background: #575757;
            color: #ffffff;
            padding: 20px 40px;
            border-radius: 10px;
            font-size: 2.9rem;
            margin-top: 50px;
        }
    }

    .for-us {
        max-width: 80%;
        text-align: center;

        div:nth-child(1) {
            font-family: 'Dancing Script', cursive;
            font-size: 4rem;
            margin-bottom: 10px;
        }
        div:nth-child(2) {
            font-family: 'Alice', serif;
            font-size: 2rem;
            color: #5a5a5a;
        }

        button {
            background: rgb(99, 98, 98);
            color: #ffffff;
            padding: 10px;
            cursor: pointer;
            border: none;
            margin-top: 30px;
        }
    }

    #hamburger-btn {
        position: absolute;
        display: none;
        top: 20px;
        right: 20px;
        color: #575757;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 100;
        
        svg {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 1000px) {
    .container {
        .navigation {
            display: none;
        }

        .title {
            font-size: 5rem;
        }

        .subheading {
            font-size: 1rem;
        }

        #hamburger-btn {
            display: block;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            padding: 2px;
        }

        .navigation {
            display: block;
            font-family: 'Alice', serif;
            width: 80%;
            height: 100vh;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            background: #575757;
            font-weight: bold;
            font-size: 1.3rem;
            box-shadow: -5px 2px 9px -2px rgba(145,145,145,0.75);
            -webkit-box-shadow: -5px 2px 9px -2px rgba(145,145,145,0.75);
            -moz-box-shadow: -5px 2px 9px -2px rgba(145,145,145,0.75);
            transition: 500ms;
    
            ul {
                display: flex;
                margin-top: 100px;
                flex-direction: column;
                gap: 20px;
                padding: 30px;
                list-style-type: none;
                justify-content: space-around;
    
                li a {
                    color: #ffffff;
                    text-decoration: none;
                    transition: 500ms;
    
                    &:hover {
                        color: #a5a4a4;
                    }
                }
            }
        }
    }
}


.slide {
    .form {
        padding: 10px;
        
        .form-item {
            display: flex;
            flex-direction: column;
            
            label.file-label {
                color: #ffffff;
                font-family: 'Alice', serif;
                font-size: 1.8rem;
                line-height: 2rem;
            }

            input, textarea {
                width: 85%;
                padding: 5px;
                font-size: 1.5rem;
                font-family: 'Arial';
            }

            .button,
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 200px;
                background: white;
                color:rgb(99, 98, 98);
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: bold;

                svg {
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }

            button {
                width: 150px;
            }
        }
        
    }
}

.toolslide .ts-content-container {
    background: rgb(99, 98, 98) !important;
}